:root {
    /* --accent: #32cd32; */
    /* --accent: rgb(78, 156, 78); */
    /* --accent: AntiqueWhite; */
    /* --accent: grey; */
    --accent: violet;
    --bg: #000;
    --white: #fff;
}

/*  ============================================================================================= */

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    line-height: 1;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    /* = 10px, easier to calculate */
}

body {
    background-color: var(--bg);
    color: var(--accent);
    font-family: "Share Tech Mono", "Monaco", "Courier New", monospace, sans-serif;
    font-size: 1.6rem;
}

input,
button,
select,
textarea {
    cursor: pointer;
    background-color: transparent;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    border: 1px solid var(--accent);
    outline: none;
    transition: box-shadow 0.3s;
}

button {
    border: none;
    border-bottom: 1px solid var(--accent);
    padding-bottom: 2px;
}
button:hover {
    border-bottom: transparent;
}
button:active {
    opacity: 0.5;
}

input:focus,
textarea:focus {
    box-shadow: 0 0 10px var(--accent);
}

textarea {
    resize: vertical;
}

button {
    cursor: pointer;
}

input::placeholder {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    opacity: 1;
}

/*  ============================================================================================= */

/* $minwidth: 320px; */

/* $mw: 1170; // the width of the content, the container width */

/* $md1: $mw + 12; // 1st breakpoint */
/* $md2: 992.98; // for tablets, 1024х768px is a size of a little PC monitor or iPad */
/* $md3: 767.98; // for large phones; less than 768px is the hamburger menu time */
/* $md4: 479.98; // for small phones */

/*  ============================================================================================= */

.container {
    max-width: 1170px;
    margin: 0 auto;
    width: 100%;

    @media (max-width: 1182px) {
        max-width: 970px;
    }

    @media (max-width: 993px) {
        max-width: 750px;
    }

    @media (max-width: 768px) {
        max-width: none;
        padding: 0 10px;
    }
}

/*  ============================================================================================= */

/* Scrollbar styles -- Apply to any scrollable element */
body,
textarea,
div {
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: darkgrey black; /* thumb colour first, track colour second */
}

/* For WebKit-based browsers (Chrome, Edge, Safari) */
body::-webkit-scrollbar,
textarea::-webkit-scrollbar,
div::-webkit-scrollbar {
    width: 5px; /* Width of the scrollbar */
}

body::-webkit-scrollbar-thumb,
textarea::-webkit-scrollbar-thumb,
div::-webkit-scrollbar-thumb {
    background: darkgrey; /* Thumb (draggable part) colour */
    border-radius: 0px; /* Rounded corners */
}

body::-webkit-scrollbar-track,
textarea::-webkit-scrollbar-track,
div::-webkit-scrollbar-track {
    background: black; /* Track colour */
}
